.AbouText {
  margin-top: auto ;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  
}
.text{
  color: #ff6800;
  font-family: fantasy;
  font-size: 20px;
  
}

.buttons{
  color: #ff6800;
  background-color: #634030;
}
.logIn_words{

  font-family: fantasy;
}
.link{
flex-direction: row;
flex-wrap: wrap;
margin: 60px;
justify-content: space-between;
text-decoration: none;
color:#ff6800;
font-family: fantasy;
font-size: 20px;
}
.photoAbout{
  width: 25%;
  margin:10px;
  }
 
 .input{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-around;
   margin: 50px;

   margin-right: 10%;
   /* height: 70px; */
   
 }
 #passwd{
   font-family: 'Times New Roman', Times, serif;
   font-size: 16px;
 }
 @media all and (min-width: 480px) {
  .Login {
    display: flex;
    padding: 60px 0;
    background-color:white;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;


    }
    .logIn_words{
      display: flex;
      color: #ff6800;
      margin: auto;
      



      
    }
    .secondLogIn{
      display: flex;
      margin: auto;
      margin-left: 5px;
    }

  .Login form {
    
    margin-right: 1px;

   
  }
}
.welcome_words{
  display: flex;
  justify-content: center;
  color: #ff6800;

}
.Directions{
 background-color: #634030;
 margin:auto ;

}
.wlcm{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.names{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  margin:auto;
 
}
.barberlistCSS{
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  color: #ff6800;


}






